{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
  },
  "globals": {
    "CONFIG": true,
    "CustomEvent": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": true,
        "trailingComma": "all",
        "jsxBracketSameLine": false,
        "bracketSpacing": true,
        "printWidth": 115
      }
    ],
    "react/jsx-no-bind": 0,
    "react/prop-types": 0,
    "camelcase": 0,
    "prefer-const": ["error", {"destructuring": "all"}]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  }
}
