$MainTitle_size1: "only screen and (max-width : 1024px)";
$MainTitle_size2: "only screen and (max-width : 768px)";
$MainTitle_size3: "only screen and (max-width : 480px)";


.MainTitle{
  margin-top: 247px;
}

.MainTitle__title{
  font-size: 48px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
/*  line-height: 0.5;*/
  text-align: center;
  font-weight: 600;

  @media #{$MainTitle_size3}{
    font-size: 25px;
  }
}

.MainTitle__subtitle{
  font-size: 19px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  /*  line-height: 0.5;*/
  text-align: center;
  margin-top: 18px;
}



