.Button-wrap{
  width: 70%;
  border: 1px solid #000;
  height: 100px;
  margin: 0 auto;

}

.Button-style{
  border: none;
  background-color: #fff;
  color: #a79e9e;
  
}


.Button-style__darker{
  color: #101010;
  border: none;
  background-color: #fff;
}
